.container {
    width: 1420px;
    margin: 0 auto;
}

.main-container { /* Uso il display flex perchè float e display in line block distruggono l html */
    display: table;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin-top: 25px;
    flex-wrap: wrap;
}

.main-container .main-col {
    flex: 60%;
}

.main-container .right-col {
    flex: 35%;
    margin-left: 50px;
}

@media only screen and (max-width: 1420px) {
    .container {
        width: 100%;
        max-width: 100%;
    }
}

@media only screen and (max-width: 1140px) {

    .main-container .right-col {
        flex: 100%;
        margin-left: 0;
    }

    .main-container .main-col {
        flex: 100%;
    }
}