.btn {
    border: none;
    border-radius: 3px;
}

.qty-input-wrapper {
    white-space: nowrap;
}

.qty-input-wrapper .btn.btn-qty.btn-minus {
    border-radius: 3px 0 0 3px;
}

.qty-input-wrapper .btn.btn-qty.btn-plus {
    border-radius: 0 3px 3px 0;
}

.qty-input-wrapper .btn.btn-qty {
    height: 40px;
    width: 40px;
    padding: 0;
    background-color: #FFFFFF;
    border: 1px solid #E0DEDE;
    cursor: pointer;
}

.qty-input-wrapper .qty-input {
    height: 38px;
    width: 38px;
    text-align: center;
    margin: unset;
    padding: 0;
    border: 1px solid #E0DEDE;
    border-left: none;
    border-right: none;
}

.btn.btn-primary {
    font-family: 'Raleway';
    background-color: #DC7613;
    color: #FFFFFF;
    font-size: 16px;
    transition: .5s;
    cursor: pointer;
}

.btn.btn-secondary {
    font-family: 'Raleway';
    background-color: #707070;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    transition: .5s;
    cursor: pointer;
}

.btn.btn-secondary:hover {
    background-color: #231F20;
}

.btn.btn-primary:hover {
    background-color: #EE9034;
}


.btn.md {
    padding: 10px 35px;
    height: 40px;
}

.btn.sm {
    padding: 7px 32px;
    height: 30px;
}

.btn.btn-product-actions {
    font-family: 'Open Sans';
    background-color: transparent;
    font-size: 15px;
    transition: .5s;
}

.btn.btn-product-actions:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.product-brand {
    font-family: 'Raleway';
    font-weight: 600;
    text-transform: uppercase;
}

.product-info-wrapper .product-brand {
    font-size: 15px;
    color: #DC7613;
}
.product-info-wrapper .product-name,
.product-info-wrapper .product-brand {
    margin: 0;
}
.product-info-wrapper .product-brand {
    margin-left: 8px;
}

.product-name {
    font-family: 'Open Sans';
    color: #666666;
    font-weight: normal;
}

.product-info-bar {
    height: min-content;
    margin-top: 8px;
    display: table;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
    line-height: 16.5px;
}

.product-info-bar > * {
    padding: 0 12.5px 0 12.5px;
    border-right: solid 1px #CCCCCC;
}

.product-info-bar > :first-child {
    padding-left: 0;
}

.product-info-bar > :last-child {
    border-right: none;
}

.stars-box {
    display: table;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.stars-box .link {
    margin-left: 8px;
}

.stars-box .stars {
    background-image: url("../images/stars.png");
    background-size: 18px;
    background-repeat: repeat-x;
    width: 90px!important;
    height: 18px;
    margin: auto;
}

.gallery-wrapper .gallery-slider {
    display: table;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
}

.gallery-wrapper .gallery-slider .image-slider-wrapper {
    width: 500px;
    margin: auto;
}

.gallery-wrapper .gallery-slider .image-picker {
    display: table;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column; /*Aggiungere le fallback*/
    justify-content: left;
    flex-wrap: wrap;
    height: 400px;
    margin-right: 20px;
}

.gallery-wrapper .gallery-slider .image-picker .picker-item-wrapper{
    margin-right: 10px;
    margin-bottom: 10px;
    width: fit-content;
}

.gallery-wrapper .gallery-slider .image-slider-wrapper .owl-carousel.image-slider .gallery-item-wrapper > img{
    width: 500px;
    margin: auto;
    height: auto;
}

.gallery-wrapper .gallery-slider .image-picker .picker-item-wrapper > img{
    border: 1px solid transparent;
}

.gallery-wrapper .gallery-slider .image-picker .picker-item-wrapper.selected > img,
.gallery-wrapper .gallery-slider .image-picker .picker-item-wrapper:hover > img{
    border: 1px solid #DC7613;
}

.right-col .product-actions {
    background-color: #F2F2F2;
    border: solid 1px #E0DEDE;
    margin-bottom: 10px;
}

.right-col .product-actions .actions-wrapper {
    padding: 20px;
    padding-bottom: 12.5px;
    border-bottom: solid 1px #E0DEDE;
}

.right-col .product-actions .price-alert {
    padding: 20px;
    padding-top: 16.5px;
}

.right-col .product-actions .price-alert .span-link {
    vertical-align: top;
}

.right-col .product-actions .span-link  > i{
    font-size: 22px;
    margin-right: 10px!important;
    vertical-align: middle;
}

.right-col .product-actions .span-link  > span{
    vertical-align: top;
}

.right-col .product-actions .actions-wrapper {
    text-align: right;
}

.right-col .product-actions .actions-wrapper .p{
    margin: 0;
}

.right-col .product-actions .actions-wrapper .price {
    margin-bottom: 7px;
}

.right-col .product-actions .actions-wrapper .iva-info {
    margin-bottom: 10px;
}

.price .p{
    font-size: 28px;
    font-weight: bold;
    line-height: 38px;
}

.right-col .product-actions .actions-wrapper .iva-info .p{
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
}

.product-actions .actions-wrapper .add_to_cart-actions {
    display: table;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.product-actions .actions-wrapper .add_to_cart-actions .add_to_cart-qty {
    margin-right: 10px;
}

.product-actions .actions-wrapper .other-actions {
    display: table;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
}

.product-actions .actions-wrapper .other-actions .wishlist-action {
    flex: 60%;
}

.product-actions .actions-wrapper .other-actions .compare-action {
    flex: 40%;
}
.product-actions .actions-wrapper .other-actions .compare-action > .btn,
.product-actions .actions-wrapper .other-actions .wishlist-action > .btn{
    padding: 10px;
    padding-right: 30px;
    padding-left: 25px;
    height: 40px;
}

.product-actions .actions-wrapper .other-actions .compare-action > .btn > i,
.product-actions .actions-wrapper .other-actions .wishlist-action > .btn i{
    font-size: 20px;
    margin-right: 10px!important;
    vertical-align: sub;
}

.social-share {
    text-align: right;
    padding-bottom: 12px;
    border-bottom: solid 1px #E0DEDE;
}

.social-share > *{
    margin-right: 7px;
}

.social-share a {
    vertical-align: middle;
}

.related-products {
    width: 500px;
}

.right-col .related-products {
    margin-top: 15px;
}

.related-products .owl-carousel.related .owl-nav {
    position: absolute;
    top: -42px;
    right: 0;
}

.related-products .owl-carousel.related .owl-nav .custom-next {
    border-radius: 0 12px 12px 0;
    border: none;
    width: 35px;
    height: 24px;
    background-color: #F2F2F2;
}

.related-products .owl-carousel.related .owl-nav i::before {
    color: #666666;
}

.related-products .owl-carousel.related .owl-nav .custom-next.disabled i::before {
    color: #E0DEDE;
}

.related-products .owl-carousel.related .owl-nav .custom-prev.disabled i::before {
    color: #E0DEDE;
}

.related-products .owl-carousel.related .owl-nav .custom-prev{
    border-radius: 12px 0 0 12px;
    border: none;
    width: 35px;
    height: 24px;
    background-color: #F2F2F2;
}

.related-product {
    width: 500px;
    display: table;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.related-product .related-product-info .product-brand {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

.related-product .related-product-info .product-name {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 10px;
    max-width: 250px;
}

.related-product .related-product-info .price-and-button {
    display: table;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.related-product .related-product-info .price .p {
    font-size: 22px;
    line-height: 33px;
    margin: 0;
    margin-right: 24px;
}

.other-product-info .block-title,
.carousel-title {
    font-family: 'Raleway';
    font-size: 17px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: .5px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.product-info-bar .p {
    margin: 0;
}

.main-col .after-gallery {
    display: table;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin-top: 35px;
}

.main-col .after-gallery .product-info-bar {
    margin-top: 10px;
    margin-left: 20px;
}

.main-col .after-gallery .product-info-bar .p > i{
    font-size: 22px;
    vertical-align: middle;
}

.other-product-info {
    padding-top: 15px;
    border-top: 1px solid #E0DEDE;
}

.other-product-info .info-block {
    background-color: #FAFAFA;
    padding: 10px;
    margin-bottom: 10px;
}

.other-product-info .info-block .info-description,
.other-product-info .info-block .info-title {
    font-family: 'Open Sans';
}

.other-product-info .info-block .info-title{
    font-size: 16px;
    line-height: 24px;
    display: table;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.other-product-info .info-block .info-title > .p{
    margin: 0;
    line-height: 18px;
}

.other-product-info .info-block .info-title > .icon {
    margin-right: 12px!important;
    font-size: 17px;
}

.other-product-info .info-block .info-description {
    font-size: 14px;
    font-weight: normal;
    margin-left: 37px;
}

.other-product-info .info-block .info-description > .p{
    margin-top: 5px;
    margin-bottom: 8px;
}

@media only screen and (max-width: 768px) {
    .gallery-wrapper .gallery-slider .image-picker {
        display: none;
    }

    .gallery-wrapper .gallery-slider .image-slider-wrapper {
        /*margin: unset;*/
        width: 100%;
    }

    .other-product-info .info-block .info-title > .icon {
        margin-right: 8px!important;
    }

    .other-product-info .info-block .info-title{
        font-size: 15px;
        line-height: 24px;
    }

    .other-product-info .info-block .info-description {
        font-size: 13px;
        font-weight: normal;
    }

    .product-info-bar > .link,
    .after-gallery .product-info-bar > *,
    .after-gallery .product-brand {
        display: none;
    }

    .after-gallery .product-info-bar .product-sku {
        display: block;
    }

}

@media only screen and (max-width: 1140px) {

    .other-product-info .block-title,
    .carousel-title {
        font-size: 15px;
    }

    .block-wrapper {
        padding: 0;
        border: 1px solid #E0DEDE;
    }

    .block-wrapper .block-title {
        padding: 14px;
        padding-left: 20px;
        margin: 0!important;
        border-bottom: 1px solid #E0DEDE;
    }

    .block-wrapper .block-title::before {
        font-family: 'icomoon';
        font-weight: normal;
        font-style: normal;
        font-display: block;
        content: "\e925";
        font-size: 6px;
        vertical-align: text-bottom;
        margin-right: 20px;
        transition: .5s;
        display: inline-block;
    }

    .block-wrapper.closed .block-title::before {
        transform: rotate(270deg);
    }

    .block-wrapper .block-content > * {
        border-bottom: 1px solid #E0DEDE;
    }

    .block-wrapper .block-content :last-child {
        border: none;
    }

    .right-col .product-actions {
        transition: .5s;
        width: 100%;
        z-index: 999;
        bottom: 0px;
        position: fixed;
        margin: unset;
        right: -2px;
    }
}
