.p,.h2,a.link,a.span-link,a.icon-link,.label {
    font-family: 'Open Sans';
    font-weight: normal;
    color: #231F20;
}
.h2 {
    font-family: 'Open Sans';
    font-weight: normal;
    font-size: 26px;
    line-height: 34px;
}

.label {
    font-size: 15px;
}

a.icon-link {
    text-decoration: none!important;
}

a.span-link {
    text-decoration: none;
}

a.span-link > span {
    font-size: 15px;
    line-height: 19px;
    text-decoration: underline;
    transition: .5s;
}

a.link {
    font-size: 15px;
    line-height: 19px;
    text-decoration: underline;
    transition: .5s;
}

a.link:hover {
    color: #DC7613;
}

.sku-value {
    color: #666666;
}

@media only screen and (max-width: 768px) {
    .h2 {
        font-size: 18px;
        line-height: 24px;
    }

    a.link {
        font-size: 13px;
        line-height: 22.5px;
    }
}